html {
    font-family: sans-serif;
    font-size: 11pt;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 15px;
}
.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}
.leaflet-top.leaflet-right {
    display: none;
}
.my-div-span {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 30px;
    line-height: 100%;
}
img.my-div-image {
    width: 15px;
}
/*Panel*/
.box{
position:fixed;
bottom:-100%;
left:0%;
height:100%; 
background-color: #DBDBDB;
width: 17em;
display: block;
z-index:999999;
}
.box-inner {
    position: absolute;
    width:100%;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
